[2015-04-09 06:28] mwtsn opened #1 "Competencies - Functionality"
Open discussion to how we handle competencies functionality in the CPD System.

- How is the functionality currently handled in existing systems?

- What would be a better workflow?

Screenshots and diagrams all appreciated.

[2015-04-09 06:36] mwtsn commented on #1
@chri55mith this is the question on competencies that I am aiming to build into the system.

[2015-04-10 07:52] IanWraith commented on #1
In this case are we defining a competency as a PPD (CPD) event e.g attending a course or reading a particular paper or something else ?

[2015-04-10 08:01] mwtsn commented on #1
I understood it as competency against a particular course, where a supervisor could set the competency and the guidance, and the participant could enter the whys and how's.

I am open to guidance, but we do need a clear definition before we can implement a solution.

[2015-04-10 09:45] mwtsn opened #2 "Product Branding"
Work on product branding to be completed by the team and @mkjonesuk. We have suggested Butterfly CPD as a product brand name, conversation details here:

"At the moment 'Butterfly CPD' is the frontrunner as a name with either of these as a tagline:
Take the pain out of CPD

A free, open & easy to use CPD system build for WordPress

This is very early work of course but we feel this is on the right

[2015-04-10 09:48] mwtsn opened #3 "GitHub Landing Page"
We ( @mkjonesuk ) are to build a Landing Page for the product, with download options and instructions, along with relevant domain pointing.

This is dependant on issue #2 being resolved.

[2015-04-10 09:49] mwtsn opened #4 "A full detailed Wiki of how the product works"
The Make Do team @mkdo/owners are to start a wiki based on the functionality of the product, with support and contributions from the project contributors ( @chri55mith et al ).

[2015-04-10 09:52] mwtsn opened #5 "Full code refactor - with detailed inline comments"
As the build is currently in prototype status, the code from other plugins has been pushed into the 'vendor' folder. This code could do with building into the main plugin so no dependancies are required.

Also detailed inline comments would be handy for contributors.

[2015-04-10 09:54] mwtsn opened #6 "Email addresses need to be used instead of usernames"
A migration script will be needed for this, it will be a one way action.

Option to use this method will be a checkbox in the admin area, it will be destructive, and not reversible.

[2015-04-10 09:56] mwtsn opened #7 "Simple theme for journals"
A simple theme will need creating for all journals to use.

They should carry a logo that a network admin can assign (so that it can be changed per institution).

@mkjonesuk has a prototype of this in the works.

[2015-04-10 09:58] mwtsn opened #8 "Theme installer"
Once the theme is created in issue #7, the plugin needs to be able to either:

- Provide instructions on how to manually install the theme (if a network is locked down so that automatic installations cannot be achieved)

- Automatically install the theme (and potentially fire up a walkthrough wizard to configure it).

[2015-04-10 09:59] mwtsn opened #9 "Improved CPD Settings page"
Rather than the key:value settings box, lets make it checkboxes with detailed instructions so it is user friendly.

This should also include an improved 'Journal Template' workflow (the journal that gets copied when a new journal is created) with more options and detailed instructions (merge this with CPD options)

[2015-04-10 10:00] mwtsn opened #10 "A new improved member management area"
Supervisors should also have the ability to add participants to their own workloads

[2015-04-10 10:02] mwtsn opened #11 "Opt out of email notifications"
- Option to let supervisors opt out of email notifications for new posts
- Option to let the system admin opt out of unassigned user mails

[2015-04-10 10:03] mwtsn opened #12 "Add more 'panels' to dashboard"
IE: subscriber and network admin panel for starters, then more useful ones as the system progresses.

[2015-04-10 10:04] mwtsn opened #13 "Participants should be able to enter data about themselves"
...to 'generate' CV like functionality and keep track of achievements.

This can be done by having custom post types to capture information such as:
- Employment history
- Qualifications
- Training

[2015-04-10 10:23] mwtsn opened #14 "Clarify Joan's wish list"
@chri55mith please could you ask Joan to join this chat or get her comments on the following. We need clarification of each point.

Users need to be able to log the following:

● Personal Details
● Events / Activity Dates ( to / from / onging )
● Type of Event / Activity ( e.g., seminar, conference, networking, literature review etc )
● Description of Event / Activity
● Value obtained
● Points awa

[2015-04-10 10:27] mwtsn opened #15 "Improved ‘privacy’ functions"
On this feature: Improved ‘privacy’ functions so sites can appear hidden from search engines OR be password protected.

Who will have permissions to make a journal private? The admin, supervisor or participant? @mkjonesuk @chri55mith if you could let me know.

[2015-04-10 10:38] mwtsn commented on #1
@IanWraith For the PPD information do you mean this objective:

Generation of PPD table-based reports from data stored within the system.

This is also referenced in issue #13.

If so, what information would be useful to capture?

[2015-04-10 10:39] mwtsn commented on #14
@mkjonesuk did you take some further notes on this?

[2015-04-10 13:43] mkjonesuk commented on #14
@mwtsn yes but it was everything that the system already did.

The only query I have now in hindsight is the large file size @chri55mith do you perhaps know how 'large' this would be?

This is more of a server configuration thing but it's something we can document if users need to change it.

[2015-04-10 13:43] mkjonesuk commented on #15
I'd say all three, right @chri55mith?

[2015-04-10 13:45] mwtsn commented on #14
@mkjonesuk @chri55mith what about the capturing of events? Did we say we would just add a category and location information to Journal entries for that, or was it something different? Also the score.

[2015-04-10 13:46] mkjonesuk commented on #7
@mkdo/cpd-partners this is looking like it will be a variant of the TwentyFifteen theme:

https://wordpress.org/themes/twentyfifteen/

Only a single theme will be available for now. In future I'd like to introduce others but we need to limit scope so we can gaurantee delivery.

[2015-04-10 13:48] mkjonesuk commented on #8
@mwtsn not sure this process is right.

The theme and the plugin(s) will be interlinked. I think we need the plugin to throw an error if a 'non registered' theme is activated.

Otherwise any old theme could be added and it wouldn't automatically show the correct branding and restrictions for example.

I'll work through some ideas for this.

[2015-04-10 13:50] mkjonesuk commented on #14
I think the events were just standard 'Posts' with an extra 'Events'
category.

The location / etc can just be added into the main body of the post.

On Fri, Apr 10, 2015 at 2:46 PM Matt Watson <notifications@github.com>
wrote:

[2015-04-10 13:58] mwtsn commented on #14
Id prefer to add it as meta @mkjonesuk so it can be reported on at a later date. I guess this could be a future feature though (or plugin opportunity)

[2015-04-10 14:00] mwtsn commented on #8
Remember not everyone will want to use the default @mkjonesuk we should leave it up to the network admin. I recommend we either:

- Make 'force theme' an option (if on it does what you say)
- Just provide guidance to the network admin on how to get up and running and optionally install the theme.

[2015-04-11 18:54] IanWraith commented on #1
My feeling is that we need to allow users to input all the types of PPD allowed by the IST , to date them and mark them with the IST category of development that they belong to.

Can anyone else think of anything more ?

Ian

[2015-04-11 19:26] mwtsn commented on #1
@IanWraith what are all the types of PPD allowed by IST? Any chance you could list them and the fields required for each type?

There may be some common elements we can use to come up with a solution.

[2015-04-12 16:00] IanWraith commented on #1
Have a look at ..

http://istonline.org.uk/wp-content/uploads/2013/09/PPD-form-IST.docx

which lists them all.

Do you need to see some examples of PPD forms to get a feel for the type of information we need to store ?

Ian

[2015-04-13 09:33] chri55mith commented on #2
Prefer "A free, open & easy to use CPD system build for WordPress" as the strap line.

[2015-04-13 09:33] mwtsn commented on #1
Hi @IanWraith,

Some forms would be very useful, yes please.  However looking at that document you linked to, it seems that the information that can be captured could be quite "loose".

What I'm thinking (and @chri55mith @mkjonesuk stop me if you think I'm wrong) is that we could have a "PPD" Custom Post Type in WordPress, that allows each "row" of that table to be added as a "post" with the follo

[2015-04-13 09:34] mwtsn commented on #1
However @IanWraith, The above comment defines how we capture PPDs is that the same as competencies?  If now how do we go about capturing those?

[2015-04-13 09:35] mwtsn commented on #13
@IanWraith @chri55mith these are separate from PPD and Competencies, can you think of any other achievement types we could add in?

[2015-04-13 09:37] chri55mith commented on #15
Yes, all three should have the option.

[2015-04-13 09:39] chri55mith commented on #8
I prefer the force theme option. Will it re-install twentyfifteen if it is missing?

[2015-04-13 09:42] mwtsn commented on #8
That is the plan @chri55mith, or whatever theme is chosen as the default in the config options.

The only trouble I foresee is if the server is locked down so much that it won't allow the install. If this happens I will provide instructions to:

- Tell the system admin which folders need write access and/or
- Provide instructions on how to do it manually

[2015-04-13 09:43] chri55mith commented on #2
Not sure about Butterfly CPD, Geoff, Ian, Joan what do you think? Matt can you assign all members to this discussion get their thoughts on this?

[2015-04-13 10:03] mwtsn commented on #2
@chri55mith Geoff has an invite already, just waiting on @mkjonesuk to invite Joan.

[2015-04-13 16:44] IanWraith commented on #2
Could someone send Geoff another invite ? I spoke to him briefly today and
he isn't getting any emails from Github about these discussions. If he is
already on and there is a problem let me know and I will look into his
Github setup.

Ian

On 13 April 2015 at 11:03, Matt Watson <notifications@github.com> wrote:

[2015-04-13 16:47] IanWraith commented on #1
I would say PPD and competencies capture are very different animals which
need to be handled in different ways.

Is PPD capture the priority ?

Ian

On 13 April 2015 at 10:34, Matt Watson <notifications@github.com> wrote:

[2015-04-13 16:50] mwtsn commented on #1
@IanWraith competencies was one of the functional requests that came up actually, but now we have PPD functionality defined that helps too.

If you could help us to map out the Competency requirements that would be very helpful.

[2015-04-13 18:45] IanWraith commented on #1
I can't help you with the competencies I'm afraid as this isn't something I
have dealt with in the past.

Chris or Geoff do you have any thoughts on this ?

On 13 April 2015 at 17:50, Matt Watson <notifications@github.com> wrote:

[2015-04-13 19:01] mkjonesuk commented on #2
Hey @mkdo/cpd-partners I've checked the invites and Geoff is indeed still pending - Joan will need to sign up for a username first and then we can add her.

Hope that's all clear :)

[2015-04-13 19:34] joanward commented on #2
Hi All
My username is joanward (signed in via joanward@istonline.org.uk)
I'm not sure about the 'butterfly' brand - that doesn't say focus or commitment to me, sorry. I get the suggested analogy in terms of metamorphosis but when I think of a butterfly I think of something that flits from one thing to another haphazardly.

[2015-04-13 20:40] mwtsn commented on #2
Hi @joanward welcome aboard, good to have you here.

Point taken about Butterfly, looks like it isn't that popular. Another one of my favourites was "Monarch CPD", I don't know if you think the same way about that or not.

If not @mkjonesuk and I will get back to the drawing board.

Also while you are here @joanward, issue #14 specifically could do with some of your knowledge.

Thanks for your inp

[2015-04-13 20:42] mwtsn commented on #1
Ok, thank you @IanWraith, @chri55mith can you shed some light? I'll send Geoff an email now to let him know how he can join in the chat.

[2015-04-14 07:31] chri55mith commented on #1
@joanward any thoughts? I think we need to be careful not to tailor too specific here.

[2015-04-14 07:32] chri55mith commented on #1
I'll see Geoff this week so will help him join the chat.

[2015-04-14 18:45] mkjonesuk commented on #1
Hi everyone - Matt and I have been busy with a live site migration today so
I'm only just catching up.

What's the status of everyones login? Do we have everyone on board GitHub
yet?

On Tue, Apr 14, 2015 at 8:32 AM Chris Smith <notifications@github.com>
wrote:

[2015-04-14 18:52] mkjonesuk commented on #2
Hey @joanward probably best that we go back to the workshop report to tie down a better branding solution.

If you check page 2 of the 'overview' we have the outcomes, here's a selection:

**Keywords & phrases:**
Easy to use
Logging information
Personal Development
Training and Development
Helping users
Capture data
Professional
Easy to find information
Webfolio
Free

**Branding guide:**
Develop
M

[2015-04-15 07:03] chri55mith commented on #2
It's a bit sterile but quite like development dashboard.

[2015-04-15 08:19] joanward commented on #2
I also quite like Development Dashboard, along with SmartCPD.

[2015-04-15 08:25] mkjonesuk commented on #2
@chri55mith agree, it's a little bit to the point. A brand name for a product like this should be more snappy. Take some other system names like SharePoint, Magnolia, Joomla, Moodle, Plone etc. Easy to focus in and remember.

The idea of the workshop was to take the outcome of the feedback and discussions and use the keywords and phrases to come up with suitable options.

If none of the options in

[2015-04-21 19:09] mkjonesuk commented on #14
Hi @joanward - can we get your thoughts on the above list, it should match the notes we had from the branding/demo workshop.

[2015-04-21 19:11] mkjonesuk commented on #8
Also @mwtsn we can point them our way for support/assistance. I'm also wondering if we should come up with guidance around server set-up and access. Likely something we can expand from here: https://wordpress.org/about/requirements/

[2015-04-21 19:27] mkjonesuk commented on #2
@mkdo/cpd-partners - I'm just following up with some extra notes around this. As we have no further comments I've taken some of @joanward's feedback and put together a new list of candidates:

Balance CPD
Smarter CPD
SkyRocketCPD (or just SkyRocket)
Aspire CPD (I really like this one)

All of the above have *decent* domain names available. So let's narrow this down and we can start to pull togethe

[2015-04-21 21:13] mwtsn commented on #1
@IanWraith, @chri55mith, @joanward, @el1gxh (that last one should be Geoff if it works), Just a quick ping to ask you if you have had any more thoughts into how the 'competencies' functionality should work, or if you can send links to any examples for me I can attempt to construct a solution.

There is this link: http://istonline.org.uk/wp-content/uploads/2014/03/RSciTech-Competencies-form.docx fr

[2015-04-21 21:15] mwtsn commented on #13
@IanWraith @chri55mith @el1gxh a further note on this one, this document gave me the inspiration for this 'tabular' data capture: http://istonline.org.uk/wp-content/uploads/2012/03/CPD-Registration-Form-2012.docx

Can you think of any other achievement types you would want to capture other then those listed at the start of this thread?

[2015-04-21 21:17] mwtsn commented on #2
@IanWraith @chri55mith @el1gxh do you have any input on the above comment by @mkjonesuk? Aspire CPD could be a winner.

[2015-04-21 21:17] mwtsn commented on #4
This is now in progress, here: https://github.com/mkdo/cpd/wiki

[2015-04-21 21:18] mwtsn commented on #5
This is now in progress.

[2015-04-21 21:21] el1gxh commented on #1
Thanks Matt,
 I'm now in the discussion I've a little bit of catching up to do due to visitors from China and attending an assessor training course.

[2015-04-21 21:23] mwtsn commented on #1
Welcome aboard @el1gxh, sounds like a very busy time!

I look forward to your input :)

[2015-04-22 12:24] joanward commented on #2
Hi
I quite like AspireCPD also - but to throw another couple of suggestions into the pot what about CatalystCPD or ProCPD

[2015-04-23 07:01] el1gxh commented on #2
I like the Aspire CPD. It's catchy but I'm not sure if we should have something about the catalyst in there somewhere.

[2015-04-23 07:09] el1gxh commented on #1
I'm not sure what others think but the competences should be used from the Professional registration forms  the IST produced, the training programme is a different matter all we need is the ability to build units , for example a question where the trainees can add evidence to prove the have completed the unit. If we can then match these units to the competence for professional registration this wi

[2015-04-23 07:34] joanward commented on #14
Hi
My wish largely revolved around being able to complete the PPD form that Ian supplied in issue discussion #1 - and he supplied a link to that.
In addition to the fields that would be required for the form and the ability to upload supporting documents I think a general notes field would be useful as there always seems to be instances where individuals need to store info that doesn't fit into an

[2015-04-23 08:03] IanWraith commented on #14
I agree with @joanward in that I think the system needs to be tightly bound to the IST way of doing things. If a member logs on who has never done CPD before the system needs to guide them. So they can select the CPD category (and helping them choose) then walking them though the process.

@joanward - I can see the need for supporting document uploading and it would be very nice for me to scan and

[2015-04-23 09:22] mwtsn commented on #1
@el1gxh I'm afraid I don't have a clear picture of what you mean I'm afraid.

If you could send me links to the Professional Registration Forms I could take a look.

If you would, could you map out a quick workflow for me that might help a little. For example could it work something like the following:

- A supervisor creates a new 'question' (or 'assignment') to one or more participants journal.

[2015-04-23 09:22] joanward commented on #14
@ianwraith - I take your point about this, and storage could be an issue (and security of course). My thinking was if we want candidates to be able to easily output electronic reports similar to the PPD form then we would want any relevant certs etc to be included. I wonder if linking to cloud storage would be an option - what do you think @chri55mith ?

[2015-04-23 09:28] mwtsn commented on #2
It sounds like Aspire CPD could be a winner @chri55mith do you have any further thoughts on this?

@mkjonesuk I think I have a brand in mind for this. Hang on, I'll mock something up quickly (bare in mind I'm no graphic designer, but its just a suggestion):

![fullsizerender](https://cloud.githubusercontent.com/assets/2066205/7294254/397cb15c-e9a3-11e4-9078-290fb1c34f98.jpg)

The A of Aspire is re

[2015-04-23 09:30] joanward commented on #1
@mwtsn - @IanWraith sent through a link to the PPD form earlier in this thread - http://istonline.org.uk/wp-content/uploads/2013/09/PPD-form-IST.docx

[2015-04-23 09:32] mwtsn commented on #14
@joanward we can of course link to files in cloud storage, but then the responsibility for the maintenance of the files on that storage is taken away from the University. Is this something you would be comfortable with @chri55mith @IanWraith?

For example, a participant could close down their dropbox account, or dropbox could be bought out and shut down (unlikely, but you get the kind of scenario

[2015-04-23 09:36] joanward commented on #2
I quite like the concept but wonder whether it would look better with 3 decreasing height peaks, rather than 2?

[2015-04-23 09:40] mwtsn commented on #1
Ah, thanks for that @joanward but I'm getting a little confused. That was about capturing PPDs not the competencies wasn't it?

Is a competency and a PPD the same thing? From my notes I have the following:

"I understood it as competency against a particular course, where a supervisor could set the competency and the guidance, and the participant could enter the whys and how's."

So I was going to

[2015-04-23 09:41] mwtsn commented on #2
@joanward my drawing is a little crude I'm afraid, but suggestion taken on board. I'll leave it to @mkjonesuk to come up with a better option. He's the expert at these things.

[2015-04-23 10:01] joanward commented on #1
Sorry - I picked out the wrong link - the one that I meant to paste from earlier in the thread was http://istonline.org.uk/wp-content/uploads/2014/03/RSciTech-Competencies-form.docx which shows one of the versions of the competency forms that are needed for professional registration and whilst they might not be exactly what @el1gxh needs for training programme management, it is an important elemen

[2015-04-23 10:04] mwtsn commented on #1
Ah, that makes more sense now @joanward.

So the 'Assignment' layout I put forward could meet that with a little tweaking of the fields in theory. @el1gxh do you have anything to add on this?

[2015-04-23 11:55] mwtsn commented on #2
Here is another attempt, try not to judge me too much:

![fullsizerender](https://cloud.githubusercontent.com/assets/2066205/7296481/edaa0288-e9b7-11e4-8b82-0cbefd836bc1.jpg)

[2015-04-23 13:22] IanWraith commented on #14
Storage wise it all depends. If Sheffield Uni is hosting this then the data could be stored in the CICS filestore which would be my preference. The uploaded data could contain personal info (names , addresses etc) so we have to be careful.

@chri55mith How were you planning on hosting this ?

[2015-04-23 14:23] mkjonesuk commented on #2
Hi all,

I'm on with other projects today so will catch up with this tomorrow - glad
to see Aspire being considered, the logo ideas line up with my own so if we
can agree this is indeed the one we all like I can start basic branding
next week :)

On Thu, Apr 23, 2015 at 12:55 PM Matt Watson <notifications@github.com>
wrote:

[2015-04-24 16:21] el1gxh commented on #1
That fine if we could add one element to the units part it would be for the supervisors to have the ability to sign off as completed. Apart from that it all sounds fine.

[2015-04-25 06:20] joanward commented on #2
I prefer the mockup using 3 peaks - but just to throw a spanner in the works, the logo mockup suggests SummitCPD to me rather than AspireCPD....?

[2015-04-25 13:43] mwtsn commented on #1
Great @el1gxh that's great, we are pretty much there then with the definition of these elements.

We can have the supervisors have the ability to sign it off. If it is signed off should we prevent the participant from being able to edit it afterwards?

[2015-04-27 14:10] el1gxh commented on #1
@mwtsn yes only the supervisor can be allowed to re-open it for modifications.

[2015-04-28 15:27] mkjonesuk commented on #2
Hi @joanward - we feel that 'Summit' sounds a little too corporate, like a Microsoft or IMB product (think servers, performance, etc).

On the 'Aspire CPD' front - I put together a more mature mock up of the logo:

![aspirecpd](https://cloud.githubusercontent.com/assets/1765467/7373251/34da88bc-edc3-11e4-8f6d-24e06826df66.png)

Any feedback welcome, this is just a first draft.

[2015-04-28 16:44] el1gxh commented on #2
I do like Aspire but agree with @joanward, the 3 peaks represent a summit  We used 3 ladders with people climbing the ladders can this be modified? @chri55mith

[2015-04-28 16:57] mkjonesuk commented on #2
Hey Geoff,

Not keen on the ladders. Feels a bit 80s DIY advert.

Agree to some extent that the 'mountains' are confusing. We'll work on
something else around the Aspire theme.

On Tue, 28 Apr 2015 at 17:44, Geoff <notifications@github.com> wrote:

[2015-04-28 17:08] el1gxh commented on #2
@mkjonesuk your right, it's a difficult one, it might be better with some curve lines and a few stars placed within. I sure you'll come up with something that fits.

[2015-04-28 17:17] mwtsn commented on #2
Hi @el1gxh @joanward @mkjonesuk,

A logo should be very easy to recognise, that can work with many colour schemes (eg work as a two tone pallet) and resolutions, so it needs to be something very simple graphically. The best examples of logos like this that I can give are the Apple logo the MacDonalds 'M', or the new Microsoft Logo.

To Aspire is an abstract concept, mountain peaks may make some pe

[2015-04-28 17:29] el1gxh commented on #2
@mkjonesuk you guys do this for a living so I know what ever you put together will be great. I totally agree about the ladders it's a bit DIY. It was just a thought.

[2015-04-29 07:50] joanward commented on #2
PeakCPD would fit with the existing logo mockup - tell me to shut up when you're tired of me throwing suggestions into the pot!!

[2015-04-29 09:39] mwtsn commented on #2
Hi @joanward, I think name 'Aspire' gives a clue about the system's purpose, where as peak is a little too far removed from what we were trying to achieve.

I'm sure with a new logo concept things will fall into place.

[2015-04-29 09:46] mwtsn commented on #2
OK, as promised, here is my 'abstract' mountain idea for the 'Aspire' concept.

The idea is sort of like an upside down diamond shape, which is an abstract of three peaks. The thinking behind the logo, is the diamond shape is a 'cut out' meaning that it can be filled with any abstract colours or designs, but the shape itself is the key concept.

Very rough, but here it is:

![fullsizerender](https

[2015-04-29 14:21] mkjonesuk commented on #2
I like this new concept and agree - the tail should not wag the dog, I think there is a general agreement that 'Aspire CPD' is the strongest brand name we have so we need to apply a branding solution to this.

I will work on maturing these ideas with images next chance I get.

[2015-05-08 12:19] #9 closed

[2015-05-08 12:19] #5 closed

[2015-05-08 12:30] mwtsn commented on #6
@mkjonesuk @chri55mith - We wanted to do this because of Single Sign On with Active Directory, Am I right? But I think we could do with a discussion about the hows and whys, and if we can hook Active Directory into the email field instead of the username field?

This plugin has some code allowing a login with Email Address, but it is probably more complex then just this: https://wordpress.org/plug

[2015-05-11 15:34] mwtsn commented on #1
@chri55mith @el1gxh - quick update - Branch phase-2-1-0 now implements much of the PPD functionality: https://github.com/mkdo/cpd/tree/phase-2-1-0

I will send a more detailed update via email shortly.

[2015-06-04 10:55] mwtsn commented on #6
Ability to log in rolled out with version 2.1.1

[2015-06-04 10:55] #6 closed

[2015-06-04 10:55] #15 closed

[2015-06-04 10:55] #12 closed

[2015-06-04 10:56] #7 closed

[2015-06-04 11:17] mwtsn commented on #14
Closing this down as this has all been covered in issue 1.

[2015-06-04 11:17] #14 closed

[2015-06-12 13:42] #2 closed

[2015-06-12 13:43] mwtsn commented on #1
Competencies functionality has been released in phase 2.2.0

[2015-06-12 13:43] #1 closed

[2015-06-12 13:43] mwtsn commented on #3
This is complete, but waiting on feedback before we launch

[2015-06-12 13:43] #3 closed

[2015-07-11 21:41] mwtsn commented on #8
Default theme installer, theme and plugin updater and config page now implemented.

[2015-07-11 21:41] #8 closed

[2015-07-28 13:00] #10 closed

[2015-08-07 16:11] mwtsn opened #16 "Use portfolio data to auto populate IST applications"
Need clarification from @chri55mith on what format portfolio data needs to export to populate IST applications.

[2015-08-07 16:12] mwtsn opened #17 "Create an option to allow some participants to set content as public"
Allow Supervisors to determine if a participant has permission to their own privacy options

[2015-08-07 16:12] mwtsn opened #18 "Ensure all pieces of text have the correct parameters so they can be translated"

[2015-08-07 16:13] mwtsn opened #19 "Add instructions on how to add a Gravatar to the wiki"

[2015-08-07 16:13] mwtsn opened #20 "Add self assessment points to activities alongside supervisor points"

[2015-08-07 16:13] mwtsn opened #21 "Make the categories on activities a drop down, with categories defined in the template"

[2015-08-07 16:14] mwtsn opened #22 "Add max score to the assessments overview"

[2015-08-07 16:14] mwtsn opened #23 "Have the ability to export PPD and Assessment reports as CSV / PDF"

[2015-09-23 13:27] chri55mith opened #24 "Error adding user"
Receive the following error when adding a new user in the network admin dashboard:

Warning: Invalid argument supplied for foreach() in /webusers/bo6cpd/public_html/wp-content/plugins/cpd/admin/cpd-users.php on line 457

Warning: Cannot modify header information - headers already sent by (output started at /webusers/bo6cpd/public_html/wp-content/plugins/cpd/admin/cpd-users.php:457) in /webusers/bo

[2015-09-23 13:30] chri55mith opened #25 "Doesn't create new journal when selecting create new journal"
When creating a new user, selecting the drop down menu to create a new journal, doesn't create a new journal.

CPD Version 2.4.2

[2015-09-23 13:30] mwtsn commented on #24
Hi @chri55mith does the functionality work correctly, however the error is just at the top of the page? Or does the whole thing crash out?

[2015-09-23 13:31] mwtsn commented on #25
@chri55mith on which page is this? There are a few places you can create a new Journal.

Do you get an error message?

[2015-09-23 13:34] chri55mith opened #26 "Dashboard menu glitch"
Strange behaviour in the dashboard menus. Text goes invisible on mouse over and menu's overlap and hide each other.
CPD Version 2.4.2

[2015-09-23 13:35] mwtsn commented on #26
@chri55mith Could you provide a screenshot? Also which page is this on?

[2015-09-23 13:36] chri55mith commented on #25
No error. This is on the users edit page within the network dashboard:

/wp-admin/network/user-edit.php?user_id=42&wp_http_referer=%2Fwp-admin%2Fnetwork%2Fusers.php

No error, it just ignores the request.

[2015-09-23 13:40] chri55mith commented on #26
![untitled-2](https://cloud.githubusercontent.com/assets/11389908/10046515/09463888-6201-11e5-9f81-712bfb3a0919.jpg)

[2015-09-23 13:43] mwtsn commented on #25
@chri55mith can you create the Journal using /wp-admin/users.php?page=cpd_settings_users instead?

[2015-09-23 13:51] mwtsn commented on #24
The latest version (2.4.3) should fix this issue. Please could you upgrade (once it becomes available to download), test and advise @chri55mith

[2015-09-23 13:51] #24 closed

[2015-09-23 13:58] mwtsn commented on #26
@chri55mith I have logged on to your server, and I cannot recreate this issue. However I note that the plugin version is 2 versions behind on your server, and WordPress needs upgrading. If you perform these upgrades and you still experience an issue, please let me know.

[2015-09-23 14:02] mwtsn commented on #25
@chri55mith Note that the Journal was created, however it doesn't get automatically assigned.

<img width="1084" alt="screenshot 2015-09-23 15 00 14" src="https://cloud.githubusercontent.com/assets/2066205/10047028/f2dab81e-6203-11e5-8420-5a44bd470a56.png">

If you use the new ['Manage User' Screens](https://github.com/mkdo/cpd/wiki/System-Administrator-User-Guide#user-management) things should be

[2015-09-23 14:02] #25 closed

[2015-09-23 14:03] chri55mith commented on #26
updated but got this: An unexpected error occurred. Something may be wrong with WordPress.org or this server’s configuration. If you continue to have problems, please try the support forums.

[2015-09-23 14:05] mwtsn commented on #26
@chri55mith if that was when you upgraded WordPress I'm afraid you will have to get help in the WordPress support forums.

[2015-09-24 13:32] mwtsn commented on #4
The User Guide is now complete. However note that it is a living, breathing document, so can be contributed to by anyone at any time.

[2015-09-24 13:32] #4 closed

[2015-09-25 07:04] chri55mith commented on #26
![menu-error](https://cloud.githubusercontent.com/assets/11389908/10094771/e42214b2-635b-11e5-879e-3425c1b3b4c8.jpg)

This is related to the CPD plugin or theme. This menu items overlap and disappear. I don't have this problem with any other wordpress dashboard.

[2015-09-25 07:26] chri55mith commented on #25
I will test creating a user via the /wp-admin/users.php next week.

[2015-09-25 08:06] mwtsn commented on #26
@chri55mith when I VPN onto the server (http://cpd.staff.shef.ac.uk)  and log in as bo6cpd I cannot see this error.

Also note that the CPD plugin is not at the latest version on this server, which may cause you issues.

Can you confirm:

- The server you are using
- The User you are logged in as

Could you also send me the output that you get when you right click and 'view source' on the web page

[2015-09-25 08:12] chri55mith commented on #26
CPD plugin Version 2.4.3 (latest)

Theme CPD Version 1.0.4 (latest) also latest version of parent theme.

cpd.staff.shef.ac.uk

logged in as bo1cps

[2015-09-25 08:12] chri55mith commented on #26
Won't let me upload the source?

[2015-09-25 08:12] chri55mith commented on #26
sent to your email.

[2015-09-25 08:39] mwtsn commented on #26
@chri55mith cannot recreate this error with the steps you have provided, it may be a local issue at your end, could you try on a different browser and let me know the results?

<img width="1440" alt="screenshot 2015-09-25 09 38 21" src="https://cloud.githubusercontent.com/assets/2066205/10096425/49127a80-6369-11e5-8f7b-97007847dcf5.png">

[2015-10-16 09:22] mwtsn commented on #16
@chri55mith could you expand on this detailing what format we need to export the data as? If you have a CSV that would be helpful.

[2015-10-16 09:22] mwtsn commented on #26
@chri55mith are you still getting this error?

[2015-10-16 09:24] chri55mith commented on #16
csv would be helpful but a tidy formatted PDF would also be good.

[2015-10-16 09:25] chri55mith commented on #26
it seems to have cleared itself. Menu formatting looks fine at the moment.

[2015-10-16 09:26] mwtsn commented on #16
Ah @chri55mith I misunderstood, I thought this was going to be an auto import style feature.

Im working on the CSV / PDF export currently (I'm afraid its taken longer than planned). So I'll close this one off, unless you do have a need to auto pull the data into IST applications?

[2015-10-16 09:27] mwtsn commented on #26
Fantastic @chri55mith, I'll close this one down.

[2015-10-16 09:27] #26 closed

[2015-10-16 09:32] chri55mith commented on #16
I don't think we need auto pull of data but easy export and import.

[2015-10-16 09:36] #16 closed

[2015-11-19 13:57] chri55mith opened #27 "New user dashboard URL error"
I have reproduced the new user profile error, see image attached.

The user cpsmith entered his password for the first time on a newly created account and was taken to the root site, not /cpsmith

![profile-url-error](https://cloud.githubusercontent.com/assets/11389908/11272500/4f1693da-8ec5-11e5-812b-6ae49234c352.png)

[2015-11-19 14:52] mwtsn commented on #27
Cheers Chris,

May I ask which screen you used to create the user?

[2015-11-19 14:55] chri55mith commented on #27
I was in the root site dashboard (not network admin).

[2015-11-19 14:56] mwtsn commented on #27
@chri55mith Did you use the 'Manage Participants' screen?

[2015-11-19 14:58] chri55mith commented on #27
No I used the Add new user.

[2015-11-19 15:04] mwtsn commented on #27
@chri55mith Participants and Supervisors should be setup using the Manage Participant and Manage Supervisor screens as detailed in the user guide.

If you used 'Add New User' you would not have been able to assign the user to a new blog, so without any blog to be directed to, they would see the screen you have shown.

[2015-11-19 15:04] #27 closed

[2015-11-19 15:05] chri55mith commented on #27
Understood. My natural urge to click new user was too strong!

[2015-11-19 15:07] mwtsn commented on #27
No worries,

Note that after creating the user that way (or anyway) 'Manage Participant' is where you can set the blog. If you miss out this step they wont be assigned to anything.

[2015-11-19 15:10] chri55mith commented on #27
Confirmed. I've just deleted the user. Then recreated using manage participants > new user > create new journal. Logged in, works fine.

[2015-11-19 15:12] mwtsn commented on #27
Great @chri55mith - Although that page could do with a better way to manage users when there are quite a few I think. I'll add a new issue for that.

[2015-11-19 15:13] mwtsn opened #28 "Manage Supervisors / Participants screen can be overwhelming"
When there are many supervisors or participants, the manage screen can be a bit much. Suggest using a Master/Detail view instead of the big list.

[2016-03-15 11:24] mkjonesuk commented on #23
@mwtsn we can likely sort this with a recommended plugin - will investigate

[2016-03-15 11:27] mwtsn commented on #21
Make this hirachical, and remove ability for participant to add their own.

[2016-03-15 12:13] mkjonesuk commented on #19
Issue has been raised as unnecessary

[2016-03-15 12:13] #19 closed

[2016-03-15 13:17] mkjonesuk commented on #21
This needs to HIDE the default Categories for 'participant' users and only show for 'supervisor' users.

Tags should be available for both.

[2016-03-15 13:20] mkjonesuk commented on #17
So supervisor users would need to action this so a participant can then set their own content as public

[2016-03-15 13:22] mkjonesuk commented on #20
This would be under the Points Awarded section in the editor - a new text box to allow the participants to add their own points (self assessment points).

Existing points will be re-named to 'supervisor points'.

[2016-03-15 13:24] mkjonesuk commented on #18
This is still WIP - the work has been done but needs to be merged once a valid pull request has been activated.

[2016-03-15 13:29] mkjonesuk opened #29 "User rights - 'authors' not being copied over for content"
When new journals are created content is not copied correctly - issue with WP core update

[2016-03-15 13:31] mkjonesuk opened #30 "Get rid of the TEMPLATES dropdown list when new participant Journals are being made"
This is confusing and not required - can lead to errors

[2016-03-15 13:32] mkjonesuk opened #31 "Add TAGS and CATEGORIES for all Journal sites and show/hide per-user role"
- TAGS - participants
 - CATEGORIES - supervisors

Hide categories from participants so they cannot self-categorise

[2016-03-15 13:33] mkjonesuk opened #32 "Table layouts get messy with lots of content"
We need some 'real data' examples of these to be able to investigate

[2016-03-15 13:36] mwtsn commented on #32
<img width="1440" alt="screenshot 2016-03-15 13 34 57" src="https://cloud.githubusercontent.com/assets/2066205/13779419/cec129a8-eab2-11e5-8f4b-a8adbeed90e9.png">

We have agreed to remove the 'Guidance' column, which should neaten this up.

[2016-03-15 13:38] mkjonesuk opened #33 "Create a video training section on aspirecpd.org"
We need these somewhere permanent - not just in the GitHub wiki

New video request: "To show how supervisors can make a journal public"

[2016-03-15 13:50] mkjonesuk opened #34 "The 'competency' category is currently a tag - it needs to be a checkbox embedded into assessments"
This needs to be something more system-embeded

[2016-03-15 15:39] mwtsn commented on #33
Also note that we need a video showing how to make a participant journal publicly available.

[2016-03-15 20:44] joanward commented on #29
Do it just need the WP version updating to fix this?
Joan

[2016-03-15 21:59] mwtsn commented on #29
Hi Joan,

This issue is resolved, version 2.5.2 of the CPD plugin fixes this issue. Just make sure the plugin is that version or greater and it will be resolved.

[2016-03-15 21:59] #29 closed

[2016-03-18 11:46] fe1njb opened #35 "Problem with file uploads"
![wordpress fault 1 - uploads](https://cloud.githubusercontent.com/assets/17926744/13876831/d32f5408-ecfe-11e5-9d24-7de0e6b00fe4.PNG)

![wordpress fault 2 - pic upload](https://cloud.githubusercontent.com/assets/17926744/13876859/ff41eeca-ecfe-11e5-8cc5-ec680bea37b7.PNG)
File uploads are unsuccessful, but then after, appear to be available to use. When trying to use, they don't insert into posts,

[2016-03-18 11:48] fe1njb opened #36 "No Diary option on menu"
Blog page is main page so can see all posts on site view, but no diary menu option. It disappeared after adding entries. Please see attached.
![wordpress fault 3 - missing diary menu](https://cloud.githubusercontent.com/assets/17926744/13876897/3c4ad85e-ecff-11e5-85be-54532bade288.PNG)

[2016-03-18 13:45] mwtsn commented on #36
"My Diary" was the name of a Journal Entry, so appeared in the 'Recents Posts" list.

This entry will have been either:

- No longer on the list (the list only supports so many items)
- Deleted
- Renamed

[2016-03-18 13:45] #36 closed

[2016-03-18 13:58] mwtsn commented on #35
At first glance, this appears to be an issue with the server config, after testing it seems that files only up to 1mb can be uploaded, and the file type may be restricted.

I will double check if this can be recreated with all plugins turned off to prove this later today and update.

[2016-03-18 14:04] joanward commented on #35
Hi Matt
I will look at increasing the file upload limit and see if that resolves this - there shouldn't be any restriction that stops a png file being uploaded but I'll check that out.
Joan

[2016-03-18 14:07] mwtsn commented on #35
Thanks Joan (@joanward),

I will turn the plugin off and do some testing later (after everyone is out of the system) to make sure the plugin isn't causing problems. I'll let you know the result of that.

[2016-03-18 14:42] joanward commented on #35
Hi
Tried increasing the php upload limit on the server and it didn't make any difference, so had a rummage around the network settings in WP and found the option in there to limit filesize for uploads and I have increased that to 10MB. The list of allowed file types in there looks fine.

[2016-03-18 15:08] fe1em commented on #35
I just tried re-uploading some of my pictures after the file size increase, but I'm still encountering the same issue. The only picture I've been able to successfully upload is a small 43kb png image. Everything else in the jpeg format still fails every time unfortunately.

[2016-03-18 15:10] el1gxh opened #37 "Diary"
Not a major problem, but the Diary needs a menu button where the trainess diarys are kept, we have noticed that after 5 entries as a supervisor we cant see the other diary entries

[2016-03-18 15:22] mwtsn commented on #37
Hi Geoff (@el1gxh),

You can add this to the menus via the customizer.

[2016-03-18 15:22] #37 closed

[2016-03-18 15:50] mwtsn commented on #35
Thanks for the update @fe1em, I'll test if this is related to the plugin or not later today and feedback.

[2016-03-18 17:33] joanward commented on #35
Hi
I have managed to get png files up to about 700k in but jpg and jpeg files above 500k fail to load completely
J

[2016-03-18 21:56] mwtsn commented on #35
Hi Joan (@joanward),

After disabling the plugin and testing on istcpd.org, the issue still persists. Closing the issue as not related to Aspire CPD.

Thoughts are this could be related to:

- The php.ini may need altering and Apache restarting
- A setting in WordPress
- File permissions within the uploads folder may need altering

[2016-03-18 21:56] #35 closed

[2016-03-18 22:04] joanward commented on #35
Hi

Thanks, I will have a look at that – this is the first WP installation where I have seen this happen.

Is it OK for me to run the Wordpress version update now?

Cheers

Joan

From: Matt Watson [mailto:notifications@github.com]
Sent: 18 March 2016 21:57
To: mkdo/cpd <cpd@noreply.github.com>
Cc: Joan Ward <joanward@istonline.org.uk>
Subject: Re: [cpd] Problem with file uploads (#35)

Hi Joan (@j

[2016-03-18 22:06] mwtsn commented on #35
Hi Joan (@joanward),

The plugin is compatible with the latest version of WordPress, so you should be fine to do so.

[2016-03-18 22:18] mwtsn commented on #35
Further to this @joanward these articles may help:

- https://wordpress.org/support/topic/media-files-dont-upload-on-multisite
- https://wordpress.org/support/topic/multisite-unable-to-upload-images
- https://wordpress.org/support/topic/after-installing-multisite-upload-images-wont-work

[2016-03-19 14:23] joanward commented on #35
Hi

This appears to be ok now – I have just uploaded a jpg file approx. 3MB without any problem.

The upload limit for the media library is currently set to 10MB, if we need it set to a higher limit I can revisit that

The issue was resolved by adding the following at server level

suhosin.memory_limit = 256M

Cheers

Joan

From: Matt Watson [mailto:notifications@github.com]
Sent: 18 March 2016 21

[2016-03-23 08:11] el1gxh opened #38 "Alteration if possible"
Would it be possible to change someting at the bottom of the post entry at the moment its counting pages, could this be changed to months where it hold each months Posts
![pages to months](https://cloud.githubusercontent.com/assets/11436855/13979237/db5835d6-f0ce-11e5-975e-434e952ada98.JPG)

[2016-03-23 09:08] mwtsn commented on #38
@el1gxh The pagination area cannot be turned into a month archive, but you can add a "widget" to the sidebar that lists posts by year and month.

[2016-03-23 09:08] #38 closed

[2016-03-23 15:07] mwtsn commented on #32
Fixed in 2.5.3 upgrade

[2016-03-23 15:07] #32 closed

[2016-03-23 15:14] mwtsn commented on #20
Added in 2.5.3

[2016-03-23 15:14] mwtsn commented on #22
Added in 2.5.3

[2016-03-23 15:14] #22 closed

[2016-03-23 15:17] mwtsn commented on #34
Now checkboxes in 2.5.3

[2016-03-23 15:17] #34 closed

[2016-03-23 15:18] mwtsn commented on #21
This is now a checkbox in 2.5.3

[2016-03-24 14:59] mwtsn commented on #21
Once you have upgraded to 2.5.3 you will need to configure the site appropriately. You can do this via the following settings screen:

/wp-admin/network/settings.php?page=aspire

<img width="1440" alt="screenshot 2016-03-24 14 59 31" src="https://cloud.githubusercontent.com/assets/2066205/14020893/09bf8232-f1d1-11e5-90a4-ce4975600a28.png">

[2016-03-24 14:59] #21 closed

[2016-03-24 15:32] mwtsn commented on #31
This is now available in 2.5.3

[2016-03-24 15:32] #31 closed

[2016-03-24 20:34] joanward commented on #21
Just tried updating the plugin through Network Settings - Plugins - CPD - 'update now' link and I get the following error message:

_The plugin mkdo-cpd-4d431a1/cpd.php has been deactivated due to an error: Plugin file does not exist._

And the plugin has indeed been deactivated.
Can I just hit the Network Activate link?

Joan

[2016-03-24 20:37] mwtsn commented on #21
Hi @joanward,

Thanks for the update, I will investigate that.

Yes it should be as simple as clicking Network Activate.

After you have updated you will have an options screen that will allow you to choose how taxonomies are displayed, you will need to configure this for how you intend to use it. The page is here: http://istcpd.org/wp-admin/network/settings.php?page=aspire

[2016-03-24 23:08] joanward commented on #21
Do I need to wait until you have checked this out before I reactivate?

[2016-03-24 23:09] mwtsn commented on #21
No @joanward, you will be fine to activate it.

[2016-03-25 00:12] joanward commented on #21
That looks fine and the Plugins list is showing the correct version of the Plugin now.

[2016-04-01 09:17] el1gxh opened #39 "separate templates from Journals"
Matt would it be possible to seperate the Templates from the journals, I think that after a whilr it would get very messy if not.

[2016-04-01 11:39] mwtsn commented on #39
Hi Geoff (@el1gxh),

Sorry, I'm not sure what you mean. What is the issue that you are having?

[2016-04-15 14:28] fe1em opened #40 "Increase media file size upload limit?"
Hello,

Is it possible to increase the file size for media uploads up from 10MB? This value is fine for pictures but any camera phone videos longer than a few seconds exceeds this total. I have a short clip ~30 seconds long that comes in at 11.9MB, just outside the limit so I can't upload it.

[2016-04-15 14:29] mwtsn commented on #40
Hi @fe1em,

This is an issue for your internal IT team. The plugin does not limit file uploads.

[2016-04-15 14:29] #40 closed

[2016-04-15 14:38] fe1em commented on #40
Perhaps I'm misunderstanding but when I'm inside my webfolio media page it does say under the select files button that there is a file size limit of 10MB:

![file zise limit](https://cloud.githubusercontent.com/assets/17873635/14564742/dd1d35a2-031f-11e6-8899-f5ba1abb6327.png)

[2016-04-15 14:42] mwtsn commented on #40
@felem,

Thats related to the settings on the server. The plugin does not limit file upload size.

[2016-04-15 14:46] fe1em commented on #40
I see thanks for your help.

[2016-04-17 21:52] joanward commented on #40
Hi @fe1em
The upload limit has been increased to 20MB now.

[2016-05-14 16:46] joanward opened #41 "new install paths and menus"
Hi
I have just done a new install in istcpd.org/tdm/ for our Technical Development unit to do some additional testing, but I am having a couple of issues with it.
1) When I login a superadmin who also has admin rights in the root site I get taken into the purple screen rather than the black extended administrator screen. If l look in the network settings it shows me as Superadmin and if I click on

[2016-05-16 10:23] mwtsn commented on #41
Hi @joanward

In order to see the black screen you need elevated privileges. On the user profile there will be a check box that says something like: "Grant this user elevated admin privileges."

You may not be able to view this box on your own profile, however another administrator will be able to check the box for you.

With regards to the wrong path when viewing /tdm, if you try going to Setting

[2016-05-16 10:23] #41 closed

[2016-05-27 19:35] joanward opened #42 "IST CPD TDM new journals paths"
Hi
We have been running some testing on the ISTCPD portal and wanted to test out how we would  set things up for a specific group of users, ie the TDM group in Sheffield. So I setup a new installation of Wordpress in a /tdm/ subdirectory of the istcpd.org and installed the CPD plugin and theme, and that went fine (this is separate from the WP instance that was installed in the root, that Geoff has

[2016-05-27 20:43] mwtsn commented on #42
Hi @joanward,

This issue isn't caused by the plugin, it is a well known WordPress Multisite issue, which is notoriously bad at working within a sub folder.

The best advice I can give is to follow the information here: http://wordpress.stackexchange.com/questions/76913/moving-a-wp-multisite-to-a-subdirectory which may help a little.

[2016-05-27 20:43] #42 closed

[2016-05-27 20:56] joanward commented on #42
Hi Matt

I’m not moving the WPMU installation from the root to subdirectory (/tdm/) – I am trying to run 2 different installations of WPMU in parallel ie. one in the root and one in the /tdm/ subdirectory. The article appears to be about moving WPMU from the root to a subdomain?

Joan

From: Matt Watson [mailto:notifications@github.com]
Sent: 27 May 2016 21:43
To: mkdo/cpd <cpd@noreply.github.com>

[2016-05-27 21:13] mwtsn commented on #42
@joanward you will still have all the same issues if you are trying to run Multisite from a sub domain. The article covers some of the issues you might face.

[2016-09-25 16:27] joanward opened #43 "Mass user imports - supervision"
Hi
We currently have Exeter Uni starting to trial the software with their techs and I have had the following enquiry from them:

Is there a way to setup users/participants using a spreadsheet import?  Otherwise I have 192 individual entries to do and then all the supervisory alignment to do after that…looking for a shortcut if you know of one.

Are you aware of a WP-MS import facility/plugin that

[2016-09-25 20:05] mwtsn commented on #43
Hi @joanward,

There are a few CSV importers available that could do the job in the WordPress repo. They would really have to take a look and assess which ones would work for them. Here is one that I found that may help (however completely untested with the plugin):

https://en-gb.wordpress.org/plugins/import-users-from-csv-with-meta/

With an import script I think they will still have to do the l

[2016-09-25 20:05] #43 closed

[2016-09-25 20:25] joanward commented on #43
Hi
Thanks for the prompt response.
In the case of the importer, if we were to go down the route of a bespoke custom import script, we could presumably use the same script on instances where we install the Aspire plugin? If so I suspect we might want to go that route as I imagine this will be a common issue where the plugin is used for a large group of techs. I will talk to Terry Croft about this a

[2016-09-26 19:34] mwtsn commented on #43
Hi @joanward,

Of course, once an import script is written once, it can be used many times. We would aim to open source it. @mkjonesuk would be the man to talk to about this.

With regards to the additional user accounts, you would need aliases for this, I belive this is how Chris handled this when he was trying the system with two roles.

On this, there may be a way to configure it so that a supe

[2016-09-28 15:46] joanward commented on #43
Hi

How would we configure it as per your final paragraph i.e. with a supervisor having their own Journal - would we set up as participant in the first instance with all the various templates setup and then change their role to supervisor? Or am I misunderstanding what you suggest?

Thanks
Joan

On 26 Sep 2016, at 20:34, Matt Watson <notifications@github.com> wrote:

Hi @joanward,

Of course, once

[2016-09-28 16:39] mwtsn commented on #43
Hi @joanward that should work yes, I'm not 100% sure, I would have to test it out at this end.

However, I'm afraid I'm out of the office, returning in 2 weeks, so I wont be able to look at this until then.

[2017-02-01 08:31] iv00020 opened #44 "Templates not working"
Hi guys,

I followed the instructions on the YouTube tutorial but when I reached the template phase where I should edit the Default Template and then be able to set each new user with it, I can't see it under the Templates section, nor can I create a new one. I am running _MultiSite_ and all the other requirements are met. I have never come across this which makes me think the plugin is blocking t

[2017-02-01 12:14] joanward opened #45 "New user passward change"
Hi

One of our trials (istcpd-tdm.org)  is reporting that when new participants/users are added - but the link that is included in the introduction email isn't taking them to the correct place to set up their password, instead they have to click on the 'Forgotten Password' link, then use the link in a subsequent email to set the password. Is this right?

[2017-02-01 12:47] mwtsn commented on #44
Hi @iv00020,

My only thoughts are that your multisite setup is not configured correctly. Can you create other sites without creating templates?

[2017-02-01 12:49] mwtsn commented on #45
Hi @joanward,

If this config was copied across from another setup, the web address in the wp_options table may be wrong.

Could you give me an example of where the broken link is taking them please?

[2017-02-01 13:12] iv00020 commented on #44
Hi Matt,

I've worked with WordPress before and didn't have any problems creating a website or creating new templates. I reinstalled MultiSites 3 times and started the project from scratch but it still wouldn't work. Can I do it without using MultiSites? Or you mean can I create other sites with the MultiSites installed cause if this is your question then yes, I can create other websites.

Regards

[2017-02-01 13:36] joanward commented on #45
Hi

Its not a copy from another setup – it was a clean setup from scratch.

The confirmation/verification email that users get is as follows:

Hi,

You've been invited to join 'TDM CPD Portal' at http://istcpd-tdm.org with the role of Subscriber.

If you do not want to join this site please ignore this email. This invitation will expire in a few days.

Please click the following link to activate y

[2017-02-01 15:53] mwtsn commented on #45
Hi @joanward thanks for the clarification,

This will need further investigation, an upgrade to WP may have caused this, as I do not recall this issue in previous builds.

[2017-02-01 15:55] mwtsn commented on #44
Hi @iv00020 do you get an error message or anything?

Any chance you could record your actions in a quick screen capture or something so I can see the issue?

[2017-02-08 11:27] mwtsn commented on #45
Hi again @joanward do you have access to the PHP error logs on the server?

If so could you send me them for the particular day/time that this error occurred so I can figure out what is going wrong?

I cannot recreate this end.

[2017-03-03 12:15] joanward commented on #45
Hi

Sorry Matt, I haven’t forgotten about this I just haven’t had chance to chase this through and get at the error logs, I will try to get something to you in the next few days.

Thanks

Joan

From: Matt Watson [mailto:notifications@github.com]
Sent: 08 February 2017 11:28
To: mkdo/cpd <cpd@noreply.github.com>
Cc: Joan Ward <joanward@istonline.org.uk>; Mention <mention@noreply.github.com>
Subject

[2017-04-26 11:19] mkjonesuk commented on #20
This needs some extra work so I'm opening it up so we can get extra info.

[2017-04-26 11:27] mkjonesuk commented on #23
*Notes*

- PPD reports, printing to PDF
- How to export all data in a 'clean' format
- Moving the 'My Journals' and their 'Activities' to other systems
- How can these be exported out in an open format

[2017-04-26 11:38] mkjonesuk commented on #23
*Future plans*

- Estimate ideas and options for _just_ PPD reports
- Estimate ideas and options for more advanced reports

[2017-04-26 11:46] #13 closed

[2017-04-26 11:49] #17 closed

[2017-04-26 11:51] #18 closed

[2017-04-26 12:00] mkjonesuk commented on #28
Closing issue - general system UX review is required to assist in better usability overall.

[2017-04-26 12:00] #28 closed

[2017-04-26 12:04] #30 closed

[2017-04-26 12:05] #33 closed

[2017-04-26 12:08] #39 closed

[2017-04-26 12:10] #44 closed

[2017-04-26 12:11] #45 closed

[2017-04-26 12:15] mkjonesuk opened #46 "Email subject wording needs to be changed"
The current setup is causing issues with virus scanners/etc.

_Options_

- A new generic option (wording to be supplied)
- A system-wide setting that can be changed

[2017-04-26 12:32] mkjonesuk opened #47 "Supervisor level users should not be able to edit Participant Journals"
This is a user roles issue and needs further investigation.

[2017-04-26 12:50] mkjonesuk opened #48 "SMTP email routing"
This is for me to send to Joan as there tends to be a lot of email issues.

[2017-04-26 13:03] mkjonesuk commented on #20
Seems to be a mixup - We can see 'Points Awarded - Only a supervisor can award points' but nothing for 'Self Assessment' points.

[2017-04-26 13:08] mkjonesuk opened #49 "UX review of site-wide dashboard"
To review for all user types.

[2017-04-26 13:12] mkjonesuk opened #50 "User Guide URL needs to be editable network-wide once wiki has been removed"
Related to once the product is closed

[2017-04-27 09:21] mwtsn commented on #20
The self assessment score needs to be on Activities and also output on the front end table.

[2017-04-27 14:54] el1gxh opened #51 "sites not working correctly"
Hi we have 2 sites that dont seem to me working correctly ashleythornton1 and georgestammers1.
Ashleys seems to be linking to diffrent places, and his Myppd is not linking at all
George as a similar problem where his Activities have been entered but not linked to the page.
Any chance you could have a look

[2017-05-02 12:42] mwtsn commented on #51
Hi @el1gxh,

One thing that may solve this is if you go to Settings > Permalinks then check the box that says 'post name' and save the permalinks.

Even if that box is already checked, if you save the permalinks it forces WordPress to reset its link redirecting engine.

[2017-05-02 13:15] joanward commented on #51
Hi

Thanks Matt – I’ve done that, although I thought you said previously that we could use a custom permalink path, anyway I’ve reset it to /%postname%/

Geoff – Can you check if that makes any difference – can you make sure users refresh pages when visiting in case there are cached versions of the content that they wish to view/access.

Regards

Joan

From: Matt Watson [mailto:notifications@githu

[2017-05-03 07:19] el1gxh commented on #51
Joan.
its still the same when you log on to georgestammers1, you can view his
diary but soon as you go on to the my Profile it looses its self. , It
worked fine first off but then just started to do it. fe1em mergers with
Ashleythornton1 which will cause us a massive problem as fe1em as almost a
years work submitted.

regards
Geoff

On 2 May 2017 at 14:15, Joan Ward <notifications@github.com> wrot

[2017-05-03 11:04] joanward commented on #51
Hi

I'll have a look at it - it's not something we've seen before is it?

What do you mean by merges with fe1m?

Ta
Joan

On 3 May 2017, at 08:19, Geoff <notifications@github.com> wrote:

Joan.
its still the same when you log on to georgestammers1, you can view his
diary but soon as you go on to the my Profile it looses its self. , It
worked fine first off but then just started to do it. fe1em mer

[2017-06-02 08:27] robabbott1 opened #52 "Removing individual category entries from within journal editor?"
Is there any way to remove individual category entries from within journal editor?
I've accidentally added my tag entries into the categories list and it's now filled with entries I won't use - Clogging up the list.

[2017-06-05 09:08] mwtsn commented on #52
Hi @robabbott1,

To do this you will need an administrator to go into the categories taxonomy and delete unwanted entries.

You can remove entries by unchecking the boxes in the meantime.

[2017-06-05 09:08] #52 closed

[2017-06-07 14:24] mwtsn commented on #51
Any news on this @joanward @el1gxh? Is this still an outstanding issue?

[2017-06-07 14:47] mwtsn commented on #50
This has been resolved in the latest version. You can set it here:

<img width="694" alt="screenshot 2017-06-07 15 46 05" src="https://user-images.githubusercontent.com/2066205/26884775-8a0def9c-4b98-11e7-9e53-147572bd916e.png">

[2017-06-07 14:47] #50 closed

[2017-06-07 14:51] mwtsn commented on #48
@mkjonesuk @joanward has this been completed? Are we able to close this issue down?

[2017-06-07 14:59] mwtsn commented on #47
@joanward @mkjonesuk so supervisors can view participant content, but not edit it?

This isn't how it has historically been put together, but I should be able to alter that if it is a requirement.

[2017-06-07 20:36] mwtsn commented on #47
@joanward @mkjonesuk version 3.0.0 of the plugin implements this.

[2017-06-07 20:36] #47 closed

[2017-06-07 20:52] mwtsn commented on #20
@mkjonesuk @joanward this has been implemented in v3.0.1

[2017-06-07 20:52] #20 closed

[2017-06-07 21:02] mwtsn commented on #23
@mkjonesuk @joanward could do with a conversation about this to work out what is needed. Lets book something in.

[2017-06-07 21:03] mwtsn commented on #46
@mkjonesuk @joanward could we get this text please?